// 菜单栏的样式【由于封装的 菜单子组件必须要求包裹 div 则需要添加样式覆盖】
.el-menu--collapse {
  .el-menu-item [class^='el-icon'],
  .el-menu-item-group
    > ul
    > .el-sub-menu
    > .el-sub-menu__title
    [class^='el-icon'],
  .el-sub-menu > .el-sub-menu__title [class^='el-icon'] {
    margin: 0;
    vertical-align: middle;
    width: var(--el-menu-icon-width);
    text-align: center;
  }
  .el-menu-item-group > ul > .el-sub-menu > .el-sub-menu__title > span,
  .el-menu-item > span,
  .el-sub-menu > .el-sub-menu__title > span {
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
    display: inline-block;
  }
  .el-menu-item .el-sub-menu__icon-arrow,
  .el-menu-item-group
    > ul
    > .el-sub-menu
    > .el-sub-menu__title
    .el-sub-menu__icon-arrow,
  .el-sub-menu > .el-sub-menu__title .el-sub-menu__icon-arrow {
    display: none;
  }
}

// 菜单选中后的颜色
.custom-menu-bg-cls {
  .el-menu-item.is-active {
    background-color: var(--custom-menu-bg-color);
  }
}
