.daq-fl {
  display: flex;
}

.daq-fl-row {
  flex-direction: row;
}

.daq-fl-column {
  flex-direction: column;
}

.daq-fl-space-between {
  justify-content: space-between;
}

.daq-fl-space-around {
  justify-content: space-around;
}

.daq-fl-center {
  justify-content: center;
}

.daq-fl-mid {
  align-items: center;
}

.daq-fl-reverse {
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.daq-fl-item-start {
  align-items: flex-start;
}

.daq-fl-item-end {
  align-items: flex-end;
}

.daq-fl-start {
  justify-content: flex-start;
}

.daq-fl-end {
  justify-content: flex-end;
}

.daq-fl-grow-1 {
  flex-grow: 1;
}
.daq-fl-grow-z {
  flex-grow: 0;
}
.daq-fl-shrink-z {
  flex-shrink: 0;
}
.daq-fl-wrap {
  flex-wrap: wrap;
}
